Системные требования
====================

Для использования нашей платформы необходимо обеспечить следующие
системные требования:

1. Широкополосный доступ в Интернет
2. Компьютер, ноутбук или мобильное устройство с поддержкой HTML5
3. Рекомендуемый браузер: Google Chrome, Mozilla Firefox, Safari или
   Opera
4. Если вы используете мобильное устройство, вам необходимо установить
   приложение на ваше устройство

`Вернуться обратно <index.html>`__
